body {
    display:flex;
    margin:0px;
    border:0px;
    

    
}

.background-image{
    display:flex;
    background-size: auto;
    flex-shrink: 0;
    width: 100%;
    height:100%;
    
}

.overlay-img{
    display:flex;
    position: absolute;
    width: calc((38.5%-5vw));
    flex:1;
    height:220px;
    margin-top:100px;
    background-color:black;
    justify-content: center;
    opacity: 70%;
    
}



.right-content{
    display:flex;
    flex-direction: column;
    width:80%;
    height:100vh;
    background-color: rgb(220,220,220);
    
}

.right-top{
    display:flex;
    flex:1;
    align-items: center;
    margin-left:25px;
    margin-top:35px;
    
    
}

.right-middle{
    display:flex;
    flex-direction: column;
    background-color: white;
    flex:1;
    box-shadow: 10px;
}

.firstName,
.lastName,
.email,
.phoneNumber,
.password,
.confirmedPassword{
    display: flex;
    flex-direction: column;
    width:200px;

    
}

.right-middle p{
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    opacity: 80%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.form{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    width:200px;
    margin-left: 40px;
    gap:15px,0px;
    align-items:center;
    box-shadow: 5px;
}

input{
    width:250px;
    height:25px;
    border-radius: 5px;
    border-color: grey;
    margin-bottom: 15px;
    margin-right: 55px;
}


input:focus{
    appearance: none;
    border:none;
    border:3px solid blue;
    /* background-color: rgb(180,180,180); */
}


.left-img{
    display:flex;
    width:50%;
    height:100vh;
    overflow: hidden;

}

.right-content div{
    display: flex;
    width:100%;
    height:100%;
    
}

.right-content .right-top{
    display:flex;
    font-weight: bold;
    font-size: 22px;
}

.right-bottom{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin:40px;
    flex:1;
}

.right-bottom button{
    background-color: #596D48;
    width:220px;
    height:55px;
    border-radius: 4px;
    font-size: 20px;
    color:white;
    font-weight: bold;
    
}

.right-bottom p{
    font-size: 22px;
    
}

.right-bottom div{
    gap:3px;
    
}

.right-bottom a{
   margin-top:24px;
   font-size:20px;
   text-decoration: none;
   color:#596D48;
   font-weight: bold;
   

}

@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}