body {
    display:flex;
    
    
}

.background-image{
    display:flex;
    position: relative;
    width:100px;
    height:100px;
   
}

.odin-logo{
    display:flex;
}

.right-content{
    display:flex;
    flex-direction: column;
    width:50%;
    height:100vh;
    border:1px solid red;
    
}

.left-img{
    width:50%;
    height:100vh;
    border:1px solid red;
}

.right-content div{
    display: flex;
    border:1px solid red;
    width:100%;
    height:100%;
    
}